* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: rgb(83, 83, 83);
  position: relative;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}

/* NAVIGATION */
.nav {
  justify-content: space-between;
  padding: 1.5rem;
}
ion-icon {
  font-size: 2rem;
  color: #6b7280;
}
.header-nav {
  color: #1e80c1;
}
.menu-slide {
  top: 31px;
  padding: 1.5rem;
  width: 100%;
  background-color: #fff;
  position: absolute;
}
.slides {
  color: #6b7280;
  font-weight: 700;
}
.slides:hover {
  color: #1e80c1d2;
  font-size: larger;
}

/* ABOUT */
.section-about {
  color: white;
  padding: 4rem 1.5rem 1rem 1.5rem;
  background-image: url(images/Picsart_22-07-19_09-04-23-382.jpg);
  background-size: 100%;
  /* background-repeat: no-repeat; */
  margin-bottom: 3rem;
  text-align: center;
}
.h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.p1 {
  font-size: 2.2rem;
  font-weight: bold;
}
.btn {
  border: none;
  border-radius: 5px;
  background-color: #1e80c1d2;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
  color: rgb(22, 22, 22);
}
.call {
  padding: 1rem 2.2rem;
}
/* SERVICES */
.section-pricing {
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.header-services {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.6rem;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.services {
  padding: 1.5rem;
  border: 1px solid #6b728028;
  border-radius: 10px;
  font-weight: 600;
}
.btw {
  justify-content: space-between;
}
.ultrasound {
  border: 1px solid #6b728028;
  border-radius: 10px;
}
.ultrasound-text {
  padding: 1rem;
}
.bn {
  border: none;
  align-items: center;
}
.dropdown,
span {
  color: #1e80c1d2;
}
img {
  width: 50%;
}
.dropdown-content {
  text-align: center;
}

/* STEPS */
.do {
  font-size: 1rem;
  margin-top: 1.3rem;
}
.section-steps {
  padding: 1.5rem;
}
.p2 {
  padding: 1rem;
}
.step {
  align-items: center;
}
.steps-box {
  margin: 1rem;
}

/* FOOTER */
.section-footer {
  background-color: #1e80c1d2;
  padding: 1rem;
}
a:link,
a:visited {
  color: rgb(83, 83, 83);
  text-decoration: none;
}
.p3 {
  padding: 0.5rem;
  font-size: 0.9rem;
}
.margint {
  padding-top: 4rem;
}
.btn:hover,
.menu:hover,
.dropdown:hover,
a:hover,
.slides:hover {
  cursor: pointer;
}
.btn:hover {
  background-color: #1e80c19a;
}
